.result h2 {
  display: inline-block;
  margin: 0 .2em;
  background: rgba(255,255,255,0.2);
  padding: .25em;
}

.result button.copyButton {
  font-size: 60%;
  display: inline-block;
}

.result {
  position: relative;
}

.result img {
  height: 32px;
  width: 32px;
  fill: white;
  position: absolute;
  left: 5%;
  top: 5%; 
}